.future-opportunities-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}

.future-opportunity-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #222222;
    flex: 0 1 auto;
}