body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECECEC;
  padding: 20px;
  font-family: Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Shared styles for buttons */
.button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #007BFF;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

/* Shared font style */
.text {
  font-size: 16px;
  color: #333;
}

.map-and-metadata {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.map-and-metadata img {
  display: block;
}